PORT=3003
DB_HOST=<aiven-mysql-host>
DB_PORT=<aiven-mysql-port>
DB_USER=avnadmin
DB_PASSWORD=<aiven-password>
DB_NAME=trips_ean
DB_SSL=true
DB_SSL_CA_PATH=/absolute/path/to/aiven-ca.pem
DB_SSL_REJECT_UNAUTHORIZED=true
